/*default version*/
@font-face {
    font-family: 'Din';
    src: 
        url('../fonts/DINPro-Light.ttf') 
        format('opentype');
}
/*bold version*/
@font-face {
    font-family: 'Din';
    src: 
        url('../fonts/DINPro-Medium.ttf') 
        format('opentype');
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'Din' !important;
}

/* sizing */

html {
    height: 100%;
}

body {
    height: 100%;
}

svg {
	display: block;
	margin:auto;
	width:80%;
	height:80%;
}

div.row.vcenter10 {
	margin-top: 10%
}

div.row.vcenter20 {
	margin-top: 20%
}

div.row.vcenter40 {
	margin-top: 40%
}

.row.full {
	max-width:90%;
}

.row.full > .row {
	max-width:100%;
}

/* top-bar large */

.top-bar {
	background: #252525;
}

.top-bar-section ul {
	background: #252525;
}

.top-bar-section li a:not(.button) {
	background: #252525;
}

.top-bar-section li a:not(.button):hover {
	background: #555555;
}

.top-bar-section ul li:hover > a {
	background: #555555;
}

/* top-bar small */

.top-bar.expanded .title-area {
	background: #555555;
}

.top-bar.expanded .toggle-topbar a {
	color: #252525;
}

/* home content */

.white {
	color: #fff !important;
}

.justify {
	text-align: justify;
}

section.jumbotron {
	min-height: 100%;
	background: #45A7F3;
	color:#fff;
}

section.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/jumbotron_bg.png') repeat center center;
  opacity: .1;
}

section.jumbotron > div.row > div.columns > div.row > div.columns > a.button.expand {
  margin-top: 5px;
  z-index:5;
  background-color: rgba(255,255,255,0.13);
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
}

section.jumbotron > div.row > div.columns > div.row > div.columns > a.button.expand:hover {
  background-color: rgba(255,255,255,0.3);
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
}

section.homesection {
	padding-bottom: 1%;
}

section:nth-child(even).homesection {
	background-color: #ecf0f1;
}

section:nth-child(odd).homesection {
	background-color: #ecf0f1;
}

div.titleholder {
	padding:5px;
	margin-bottom: 3%;
	background:linear-gradient(90deg, rgba(52, 152, 219,1.0) 0%, rgba(52, 152, 219,0.0) 100%);
}

section.sitemap {
	background-color: #3498db;
	padding: 1% 0px;
}

/* credits */

#zurb {
    background-image: url("../images/credit_zurb.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    padding-left:31.6px;
    padding-right: 31.6px; 
    background-color:rgba(256,256,256,0);
}

#ellis {
    background-image: url("../images/credit_ellislab.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    padding-left:31.6px;
    padding-right: 31.6px;  
    background-color:rgba(256,256,256,0);
}

#tutor {
    background-image: url("../images/credit_tutorialzine.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    background-color:rgba(256,256,256,0);
}

#fontawe {
    background-image: url("../images/credit_fontawesome.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    background-color:rgba(256,256,256,0);
}

#highch {
    background-image: url("../images/credit_highcharts.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    background-color:rgba(256,256,256,0);
}

.panel {
	border-width: 0px
}

ul {
	margin-left: 0px;
}

.sidebar{
  position: relative;
}

#builder {
  margin-left: 20px;
}
