/* sizing */

html {
    height: 100%;
}

body {
    height: 100%;
}

svg {
	display: block;
	margin:auto;
	width:80%;
	height:80%;
}

div.row.vcenter10 {
	margin-top: 10%
}

div.row.vcenter20 {
	margin-top: 20%
}

div.row.vcenter40 {
	margin-top: 40%
}

.row.full {
	max-width:90%;
}

.row.full > .row {
	max-width:100%;
}

/* top-bar large */

.top-bar {
	background: #3498db;
}

.top-bar-section ul {
	background: #3498db;
}

.top-bar-section li a:not(.button) {
	background: #3498db;
}

.top-bar-section li a:not(.button):hover {
	background: #2980b9;
}

.top-bar-section ul li:hover > a {
	background: #2980b9;
}

/* top-bar small */

.top-bar.expanded .title-area {
	background: #2980b9;
}

.top-bar.expanded .toggle-topbar a {
	color: #3498db;
}

/* home content */

.white {
	color: #fff !important;
}

.justify {
	text-align: justify;
}

section.jumbotron {
	min-height: 100%;
	background-image: url("../img/jumbo_bg.jpg");
	background-position: center center;
	background-size:cover;
	color:#fff;
}

section.jumbotron > div.row > div.columns > div.row > div.columns > a.button.expand {
  background-color: rgba(255,255,255,0.3);
  border-width:3px;
	border-style: solid;
	border-color: white;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
}

section.jumbotron > div.row > div.columns > div.row > div.columns > a.button.expand:hover {
  background-color: rgba(255,255,255,0);
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
}

section.homesection {
	padding-bottom: 1%;
}

section:nth-child(even).homesection {
	background-color: #34495e;
}

section:nth-child(odd).homesection {
	background-color: #2c3e50;
}

div.titleholder {
	padding:5px;
	margin-bottom: 3%;
	background:linear-gradient(90deg, rgba(52, 152, 219,1.0) 0%, rgba(52, 152, 219,0.0) 100%);
}

section.sitemap {
	background-color: #3498db;
	padding: 1% 0px;
}

/* credits */

#zurb {
    background-image: url("../img/credit_zurb.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    padding-left:31.6px;
    padding-right: 31.6px; 
    background-color:rgba(256,256,256,0);
}

#ellis {
    background-image: url("../img/credit_ellislab.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    padding-left:31.6px;
    padding-right: 31.6px;  
    background-color:rgba(256,256,256,0);
}

#tutor {
    background-image: url("../img/credit_tutorialzine.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    background-color:rgba(256,256,256,0);
}

#fontawe {
    background-image: url("../img/credit_fontawesome.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    background-color:rgba(256,256,256,0);
}

#highch {
    background-image: url("../img/credit_highcharts.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom:0px;
    background-color:rgba(256,256,256,0);
}

.panel {
	border-width: 0px
}

ul {
	margin-left: 0px;
}
